<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings> 
        <add key="Language"         value="fr" />
        <add key="StartOnBoot"      value="False" />
        <add key="Notify"           value="True" />
        <add key="WindowSizeWidth"  value="700" />
        <add key="WindowSizeHeight" value="600" />
        <add key="IconSize"         value="64" />
        <add key="Format"           value=".PNG" />
        <add key="KeyAllsScreens"   value="F9" />
        <add key="KeyActiveWindow"  value="F8" />
        <add key="KeyZone"          value="F12" />
        <add key="SavePathFolder"   value="" />
    </appSettings>
</configuration>